<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <!--Tag Connect-->
    <connectionStrings>
        <add name="connectDbCD8_QLD" connectionString="SERVER = .\SQLEXPRESS; INITIAL CATALOG = CD8_QLD; INTEGRATED SECURITY = TRUE;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <!--Add Connect-->
</configuration>